<div class="container-fluid">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-list well">
        <li class="nav-header">
          Templates
          <button class="btn btn-primary pull-right" ng-click="create()">New</button>
        </li>
        <li ng-repeat="t in main.templates" ng-click="main.selectTemplate(t)">
          {{ t.name }}
        </li>
      </ul>
    </div>

    <div class="col-md-9">

      <div class="row">
        <div class="col-md-12">
          <form ng-submit="main.save()">
              <input type="text" ng-model="main.current.name" placeholder="Template name">
              <input type="text" ng-model="main.current.parent" placeholder="Template parent">
              <input type="submit" class="btn btn-primary" value="Save" ng-disabled="!main.current.name">
            </form>
        </div>
      </div>

      <div class="row">
        
        <div class="col-md-6">
          <textarea width="100%" rows="10" ng-model="main.current.body"></textarea>
        </div>

        <div class="col-md-6" ng-bind-html="main.preview | nl2br | sanitize">

        </div>

      </div>
    </div>
  </div>

  <div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <h2>This is client</h2>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
