<div class="container-fluid">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-list well">
        <li class="nav-header">
          Templates
          <button class="btn btn-primary pull-right" ng-click="create()">New</button>
        </li>
        <li ng-repeat="t in main.templates" ng-click="main.selectTemplate(t)">
          {{ t.name }}
        </li>
      </ul>
    </div>

    <div class="col-md-10">

      <div class="row">
        <div class="col-md-12">
          <form ng-submit="main.save()">
              <input type="text" ng-model="main.current.name" placeholder="Template name">
              <input type="text" ng-model="main.current.parent" placeholder="Template parent">
              <input type="submit" class="btn btn-primary" value="Save" ng-disabled="!main.current.name">
            </form>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <textarea width="100%" rows="10" ng-model="main.current.body"></textarea>
        </div>

        <div class="col-md-6" ng-bind-html="main.preview | nl2br | sanitize">

        </div>

      </div>
    </div>
  </div>

</div>
